body {

  font-family: "Roboto", helvetica, sans-serif;
  font-size: 18px;
  color: rgb(34, 34, 34);
}

body * {
	box-sizing: border-box;
}

header {
  background-color: rgb(242, 191, 12);
  margin-bottom: 40px;
}

header h1 {
	margin-bottom: 0;
	line-height: 1;
}

header p {
	margin-top: 20px;
}